<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.example.dao.OrderInfoMapper">
  <resultMap id="OrderInfo" type="com.cyl.example.entity.OrderInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="payment_method" jdbcType="TINYINT" property="paymentMethod" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="real_money" jdbcType="DECIMAL" property="realMoney" />
    <result column="discount_money" jdbcType="DECIMAL" property="discountMoney" />
    <result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="pay_status" jdbcType="TINYINT" property="payStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="paid_time" jdbcType="TIMESTAMP" property="paidTime" />
    <result column="success_time" jdbcType="TIMESTAMP" property="successTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />

  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, payment_method, total_money, real_money,
    discount_money, pay_money, status, type, pay_status, create_time, update_time,
    cancel_time, paid_time, success_time
  </sql>

  <update id="delByUserIdAndId">
    update order_info
    set del_flag = 1
    where id = #{id,jdbcType=BIGINT}
      and user_id=#{userId,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="OrderInfo">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.cyl.example.entity.OrderInfo">
    insert into order_info (id, user_id,
      payment_method, total_money,
      real_money, discount_money, pay_money, 
      status, type, pay_status, 
      create_time, update_time, cancel_time, paid_time,
      success_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
      #{paymentMethod,jdbcType=TINYINT}, #{totalMoney,jdbcType=DECIMAL},
      #{realMoney,jdbcType=DECIMAL}, #{discountMoney,jdbcType=DECIMAL}, #{payMoney,jdbcType=DECIMAL}, 
      #{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{payStatus,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{cancelTime,jdbcType=TIMESTAMP}, #{paidTime,jdbcType=TIMESTAMP},
      #{successTime,jdbcType=TIMESTAMP})
  </insert>


  <insert id="insertSelective" parameterType="com.cyl.example.entity.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="realMoney != null">
        real_money,
      </if>
      <if test="discountMoney != null">
        discount_money,
      </if>
      <if test="payMoney != null">
        pay_money,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="paidTime != null">
        paid_time,
      </if>
      <if test="successTime != null">
        success_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="realMoney != null">
        #{realMoney,jdbcType=DECIMAL},
      </if>
      <if test="discountMoney != null">
        #{discountMoney,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null">
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paidTime != null">
        #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null">
        #{successTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyl.example.entity.OrderInfo">
    update order_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="realMoney != null">
        real_money = #{realMoney,jdbcType=DECIMAL},
      </if>
      <if test="discountMoney != null">
        discount_money = #{discountMoney,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null">
        pay_money = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paidTime != null">
        paid_time = #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null">
        success_time = #{successTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.cyl.example.entity.OrderInfo">
    update order_info
    set
      user_id = #{userId,jdbcType=BIGINT},
      payment_method = #{paymentMethod,jdbcType=TINYINT},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      real_money = #{realMoney,jdbcType=DECIMAL},
      discount_money = #{discountMoney,jdbcType=DECIMAL},
      pay_money = #{payMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      pay_status = #{payStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      paid_time = #{paidTime,jdbcType=TIMESTAMP},
      success_time = #{successTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByUserIdAndId" resultMap="OrderInfo">
    select
    <include refid="Base_Column_List"/>
    from order_info
    where id = #{id,jdbcType=BIGINT}
    and user_id=#{userId,jdbcType=BIGINT}
    and del_flag=0
  </select>

</mapper>